<div class="hero-unit banner">
  <div class="container">
    <div class="row">
      <div class='span-8'>
        <h1>eXtreme Reviews</h1>
        <h4>It's not a review, if it's not eXtreme!</h4>
      </div>
      <div class='span-4 offset3 sign-up-link'>       
        <h2><%= link_to "Sign up", new_user_registration_path %></h2>
      </div>
    </div>
  </div>
</div>

<div class="row"></div>
  <div class="container">
    <table class="table table-condensed last-three">
      <%= render 'home_table_headers' %>
      <%= render 'home_index_values' %>
    </table>
  </div>
</div>

