<div class="row">
  <div class="container movies-index">
    <table class="table table-condensed last-three">
      <div class="row">
        <h3 class="span6">eXtreme Movies</h3>
      </div>
        <%= render 'movies_index_headers' %>
        <%= render 'movies_index_values' %>
    </table>
  </div>
</div>
