.banner {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-bottom: 20px;
}

.hero-unit {
  width: 100%;
}

.sign-up-link {
  padding-top: 35px;
}

.last-three th, .last-three td {
  text-align: center;
  width: 100px;
}

.last-three .likes, .last-three .actions {
  width: 65px;
}

.last-three .view-reviews, .last-three .add-review {
  width: 175px;
}

.last-three .view-reviews {
  padding-left: 200px;
}
