<div class="row">
  <div class="container">
    <% @movie.reviews.each do |review| %>
      <h4><%= link_to review.title, [@movie, review] %></h4>
      <p><%= review.body %></p>
    <% end %>
  </div>
</div>
